.add-task-modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.task-input-modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  max-width: 500px;
  max-width: 100%;
  text-align: center;
  padding: 2rem;
}

.task-input{
  min-width: 400px;
  height: 150px;
  margin-top: 10px;
  resize: none;
  outline: none;
}
