.task {
  display: flex;
  justify-content: space-between;
  color: #000100;
  background-color: #eee;
  height: max-content;
  margin: 10px 20px;
  padding: 20px;
}

.task-content {
  width: 90%;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 10%;
}

.icon {
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.edit-btn {
  color: #0f0;
}

.delete-btn {
  color: #f00;
}
